.margenes{
   
    padding: 5% 5%;
}


.medio{
    
    background: burlywood;
    margin-left: 40%;
}
li ul {
    text-decoration: none;
}
div{
    
    /* background-color: burlywood; */
    
}
